body {
    font-family: RobotoRegular !important;
}

ul{
    padding-left: 0;
}

.main-wrapper{
    margin: 0 auto;
    max-width: 450px;
}

.title-wrapper{
    height: 64px;
    padding-left: 20px;
    background: #00BCD4;
    text-align: left;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
}

.app-title{
    height: 100%;
    color: #E0F7FA;
    font-size: 32px;
    line-height: 64px;
    vertical-align: middle;
    margin-bottom: 0;
}


/* INPUT STYLE */
input {
    display: block;
    margin: 0 auto;
    border: none;
}

input:focus {
    outline: none;
}

.input-wrapper {
    position: relative;
    max-width: 400px;
    width: 400px;
    margin: 30px auto 0;
}

li {
    list-style: none;
}

input {
    font-size: 18px;
    padding: 10px 0;
    display: block;
    border: none;
    border-bottom: 1px solid #00BCD4;
}

input:focus {
    outline: none;
    border-bottom: 2px solid green;
}

#input {
    width: 100%;
    border: none;
    border-bottom: 1px solid #00BCD4;
    margin-bottom: 30px;
}

.bar {
    position: absolute;
    width: 0%;
    height: 2px;
    bottom: 0;
    background: #00BCD4;

    -webkit-transition: 0.2s ease all;
    -moz-transition: 0.2s ease all ;
    -ms-transition: 0.2s ease all ;
    -o-transition: 0.2s ease all ;
    transition: 0.2s ease all ;
}

label {
    color: #00BCD4;
    font-size: 18px;
    position: absolute;
    pointer-events: none;
    top: 10px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
    font-family: RobotoRegular !important;
}

/* active state */
input:focus ~ label, input:valid ~ label {
    top: -20px;
    font-size: 16px;
    /*    color: #5264AE;*/
    font-family: RobotoRegular !important;
}

input:focus ~ .bar, input:valid ~ .bar {
    width: 100%;

}

/* INPUT STYLE END */

#list{
    max-width: 400px;
    margin: 0 auto;
}



@font-face {
    font-family: 'RobotoRegular';
    src: url('../fonts/Roboto-Regular.ttf');
}
